/* Write your CSS here */
.bg-container {
  background-color: #161625;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.fail-img {
  width: 550px;
  height: 450px;
}
.fail-bg {
  background-color: #161625;
  background-size: cover;
  text-align: center;
}
.fail-text {
  color: white;
  font-family: bree serif;
}
.logo-name {
  color: #2cc6c6;
  font-size: 25px;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.logo-tab {
  display: flex;
  align-items: center;
}
.title {
  color: white;
}
.cards {
  width: 70%;
}
